<article class="networks">
  <nav>
    <a href="https://stackoverflow.com/users/3051080/gus" target="_blank"><i class="icon-stack-overflow"></i></a>
    <a href="https://github.com/netpoe" target="_blank"><i class="icon-github"></i></a>
    <a href="https://www.linkedin.com/in/gustavoandresibarra/" target="_blank"><i class="icon-linkedin-square"></i></a>
    <a href="https://t.me/@supervnder" target="_blank"><i class="icon-telegram"></i></a>
    <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1" target="_blank"><i class="icon-spotify"></i></a>
    <a href="https://www.instagram.com/falomfomfof/" target="_blank"><i class="icon-instagram"></i></a>
  </nav>
  <a href="mailto:gus@developermexicano.com" class="email">gus@developermexicano.com</a>
</article>
