@import "sass/styles.scss";
@import "bootstrap/scss/tables";
@import "sass/components/intro";

#about {
  background-color: $gray-100;
  padding: get-spacer(5) 0;
  .left, .right {
    min-height: 50vh;
    @include media-breakpoint-down(sm) {
      min-height: auto;
    }
  }
}

.site-wrapper {
  padding-bottom: 0;
}

#intro {
  @include media-breakpoint-down(sm) {
    .block {
      min-height: 60vh;
    }
  }
  .networks {
    @include networks;
  }
}

#descripcion {
  h4, h5 {
    @include highlight-color;
  }
}

#propuesta {

}
