<main id="home" class="site-wrapper">
  <section id="intro" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 left">
          <h1 class="title">
            <span class="green">Developer</span>
            <span class="white">Blockchain</span>
            <span class="red">Mexicano</span>
          </h1>
          <h2 class="claim">dApp Developer, Music Composer, Husband &amp; Digital Nomad</h2>
        </div>
        <div class="col-sm-7">
          <section class="block">
            <h3 class="name">Gustavo Ibarra</h3>
            <article class="details">
              <p>29 years old. Mexican.</p>
              <p>8+ years of software development experience in 7 different countries.</p>
              <p>Spanish, English, JavaScript, Solidity, Golang + other backend and database languages.</p>
            </article>
            <article class="networks">
              <nav>
                <a href="https://stackoverflow.com/users/3051080/gus" target="_blank"><i class="icon-stack-overflow"></i></a>
                <a href="https://github.com/netpoe" target="_blank"><i class="icon-github"></i></a>
                <a href="https://www.linkedin.com/in/gustavoandresibarra/" target="_blank"><i class="icon-linkedin-square"></i></a>
                <a href="https://t.me/@supervnder" target="_blank"><i class="icon-telegram"></i></a>
                <a href="https://open.spotify.com/artist/4M0tyK4jalTpqDIK3MXeK1" target="_blank"><i class="icon-spotify"></i></a>
                <a href="https://www.instagram.com/falomfomfof/" target="_blank"><i class="icon-instagram"></i></a>
              </nav>
              <a href="mailto:gus@developermexicano.com" class="email">gus@developermexicano.com</a>
            </article>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section id="highlights" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="subtitle separator">Highlights</h2>
        </div>
        <div class="col-sm-7">
          <section class="block">
            <h4>During 2018 I built <a href="https://simpleico.com/" target="_blank" rel="nofollow">simpleico.com</a>, <a href="https://blockchainassetregistry.com/contract/0x646778A8766e990e85e7E3e55842A7aC7b46Ba48/details/serial-asset" target="_blank" rel="nofollow">blockchainassetregistry.com</a> and <a href="https://superander.com" target="_blank" rel="nofollow">superander.com</a>, which are fully decentralized web applications (dApps).</h4>
            <h4>I helped to organize the 1st <a href="https://www.youtube.com/watch?v=t3NXyiONCe4" target="_blank" rel="nofollow">Blockchain Developers Hackaton</a> in Central America.</h4>
            <h4>I collaborated in the development of <a href="https://www.canwork.io/" target="_blank" rel="nofollow">canya.com</a> dApps, smart contracts and serverless Golang services.</h4>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section id="projects" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="subtitle separator">Projects</h2>
        </div>
        <div class="col-sm-7">
          <section class="block">
            <article class="project">
              <h4>Simple ICO</h4>
              <p>A fully decentralized Angular 7 application that enables any person to deploy smart contracts easily.</p>
              <p>Simple ICO focuses on ERC20 and Crowdsale smart contracts. Together with <a href="https://decentralizedtechnologies.io/" target="_blank"> decentralizedtechnologies.io</a> we are encouraging the developers community to add more smart contracts to the dApp by contributing on GitHub.</p>
              <p>I <a href="https://simpleico.gitbook.io/web-app" target="_blank">wrote a documentation</a> so developers at the 1st <a href="https://www.youtube.com/watch?v=t3NXyiONCe4" target="_blank">Blockchain Developers Hackaton</a> could understand how to create Smart Contract User Interfaces, or SCUIs for short.</p>
              <p>Simple ICO meets the AID design principles: Anonymous, Immutable and Decentralized.</p>
              <a href="https://simpleico.com" target="_blank">simpleico.com</a>
            </article>
            <article class="project">
              <h4>CanYa</h4>
              <p>The decentralized serviceplace of the world.</p>
              <p>Working as a contractor with the CanYa team was an incredible experience. In this <em>9 months project</em> I collaborated in the design and the implementation of the Solidity smart contracts that power the <a href="https://canwork.io" target="_blank">CanWork.io</a> dApp.</p>
              <p>I built additional dApps such as <a href="https://caninvoice.io" target="_blank">caninvoice.io</a>, <a href="https://cantrack.io" target="_blank">cantrack.io</a> and <a href="https://cansign.io" target="_blank">cansign.io</a></p>
              <p>I built an <a href="https://gitlab.com/canya-com/shared/services/ethereum-transaction-monitor" target="_blank">Ethereum Transaction Monitor</a> Golang service to track transactions and trigger webhooks on each transaction state change. Also, I built a <a href="https://gitlab.com/canya-com/canwork/services/dock-io-integration" target="_blank">Dock.io</a> Golang integration that allows users to log-in with their Dock.io account via the Angular 7 frontend application.</p>
              <a href="https://canwork.io" target="_blank">canya.com</a>
            </article>
            <article class="project">
              <h4>Blockchain Asset Registry</h4>
              <p>Create BAR Tags that represent any tangible asset in the blockchain.</p>
              <p>Currently, this dApp focuses on displaying the <a href="https://github.com/decentralizedtechnologies/bar-contracts/tree/master/contracts" target="_blank">Asset.sol</a> smart contract information. This smart contract is an ERC proposal inspired from the popular ERC20 contract. The Asset contract implements ownership transfer cappabilities and can be extended to meet specific requirements, such as to be Locatable, Serialized or to have more complex information.</p>
              <p>This dApp implements a <a href="https://github.com/decentralizedtechnologies/schema" target="_blank">decentralized schema</a>. Which is a JSON document that gets stored in IPFS and can be read by the dApp.</p>
              <a href="https://blockchainassetregistry.com/contract/0x646778A8766e990e85e7E3e55842A7aC7b46Ba48/details/serial-asset" target="_blank">blockchainassetregistry.com</a>
            </article>
            <article class="project">
              <h4>SANDER1</h4>
              <p>As a musician and music composer, I decided to create my own ICO for my music project called <a href="https://superander.com" target="_blank">Súper Ánder</a>.</p>
              <p>This dApp presents information of the <a href="https://github.com/netpoe/SANDER1/blob/master/contracts/SANDER1.sol" target="_blank">SANDER1</a> smart contract. A custom ERC20 token were each unit represents 1 song, so users can invest in a fraction of a song. This is implemented in the <a href="https://github.com/netpoe/SANDER1/blob/master/contracts/SuperCrowdsale.sol" target="_blank">SuperCrowdsale</a> smart contract, which delivers SANDER1 tokens in exchange of a capped amount of ETH.</p>
              <a href="https://superander.com" target="_blank">superander.com</a>
            </article>
            <article class="project">
              <h4>Blockchain Developers Hackaton</h4>
              <iframe width="100%" height="360" src="https://www.youtube.com/embed/t3NXyiONCe4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </article>
          </section>
        </div>
      </div>
    </div>
  </section>
  <section id="experience" class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <h2 class="subtitle separator">Experience</h2>
        </div>
        <div class="col-sm-7">
          <section class="block">
            <article class="project">
              <h4>I got involved in the tech industry having the opportunity to be part of programming teams for over 8+ years in 7 different markets around the world.</h4>
              <h4>During my programming career, I've collaborated in the design, architecture, development and deployment of successful projects, varying from web apps for the fin-tech industry, to CS education IDE's, non-profit education programs, universities CMS’s and healthcare.</h4>
            </article>
          </section>
        </div>
      </div>
    </div>
  </section>
</main>
