@charset "UTF-8";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/mixins";
@import "./bootstrap-variables";
@import "./variables";

// EBM variables
@import "./ebm-variables";
@import "ebm/functions/ebm-functions";
@import "ebm/helpers/ebm-helpers";
@import "./font-mixins";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/print";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/input-group";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/card";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/utilities";

@import "./font-classes";
@import "./bootstrap-overrides";
@import "./icons";
@import "ebm/control/ebm-container-control";
@import "ebm/modules/ebm-header";

html {
  &::-webkit-scrollbar {
    display: none;
  }
}

.site-wrapper {
  padding-bottom: $header-height;
  padding-top: $header-height;
  background-color: white;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
}

.block {
  border-top: 3px solid $black;
  padding: get-spacer(4) 0;
  &.no-border {
    border: none;
  }
}

.subtitle {
  &.separator {
    &:before {
      margin-bottom: get-spacer(4);
      background: $black;
      display: block;
      content: '';
      width: 28px;
      height: 3px;
      @include media-breakpoint-down(sm) {
        background: transparent;
        height: 0;
      }
    }
  }
}

.project {
  margin-bottom: get-spacer(4);
  p, a {
    @include serif-book;
  }
}

.normalize-text {
  @include normalize-text;
}

ul, ol {
  li {
    margin-bottom: get-spacer(2);
  }
}

app-networks {
  margin-top: auto;
}
